<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Fox Two Digital
            <br />
            Outmaneuvering the Competition
        </h2>
        <p>
            Customers in your area are looking for you, but can they find you? Let us show you how to reach them. 
        </p>
        <a href="/contact" class="cs-button-solid">Take a Shot with Us</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/hero-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/hero.webp">
        <img aria-hidden="true" decoding="async" src="/assets/images/hero.jpg" alt="kitchen cabinets" loading="lazy" width="2500" height="1667">
    </picture>

</section>