<!-- ============================================ -->
<!--                    Form                      -->
<!-- ============================================ -->

<section id="cs-contact-486">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Claim your <span class="cs-color">FREE</span> website audit</h2>
            <p class="cs-text">
                For extra no cost, we will analyse your website thoroughly and provide insight on what is going well and what can be improved. Do what you please with this information as it serves you and your business. Please fill the form on the right side to begin.
            </p>
            <span class="cs-heading">Want a more comprehensive review, including research on what keywords your competitors are targeting?</span>
            <a href="mailto:thommas@codestitch.com" class="cs-link">Email me at: Thomas@codestitch.com</a>
        </div>
        <!--Form-->
        <form id="cs-form-486" name="Contractor Website Audit Form" method="post" netlify>
            <h3 class="cs-h3">Message Us for Your Free Audit</h3>
            <label class="cs-label">
                Name
                <input class="cs-input" required type="text" id="name-486" name="name" placeholder="Name">
            </label>
            <label class="cs-label">
                Phone
                <input class="cs-input" required type="text" id="phone-486" name="phone" placeholder="Phone">
            </label>
            <label class="cs-label">
                Email
                <input class="cs-input" required type="text" id="email-486" name="email" placeholder="Email">
            </label>
            <label class="cs-label">
                What is your website url?
                <input class="cs-input" type="text" id="find-486" name="find-us" placeholder="Enter Webiste URL">
            </label>
            </label>
            <button class="cs-button-solid cs-submit" type="submit">Get Your Free Audit</button>
        </form>
    </div>
</section>


<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Fox Two Digital
            <br />
            Outmaneuvering the Competition
        </h2>
        <p>
            Customers in your area are looking for you, but can they find you? Let us show you how to reach them. 
        </p>
        <a href="/contact" class="cs-button-solid">Take a Shot with Us</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/hero-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/hero.webp">
        <img aria-hidden="true" decoding="async" src="/assets/images/hero.jpg" alt="kitchen cabinets" loading="lazy" width="2500" height="1667">
    </picture>

</section>