<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1293">
    <div class="cs-container">      
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="/">
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/logowhite_crop-bg.svg" alt="logo" width="240" height="32">
            </a>
            <a href="mailto:Thomas@FoxTwoDigital.com" class="cs-link">
                <img class="cs-link-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/thick-mail.svg" alt="icon" width="24" height="24">
                Thomas@FoxTwoDigital.com
            </a>
        </div>
        <!-- Links -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Services</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/design">Website Design</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/leads">Lead Generation</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/reputation">Reputation Management</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/marketing">Message Marketing</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/seo">Local SEO</a>
            </li>
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">About</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/about">Our Story</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/FAQ">Questions</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/blog">Additional Information</a>
            </li>
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Contact</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="https://www.facebook.com/FoxTwoDigital">Facebook</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="https://www.instagram.com/foxtwodigital/">Instagram</a>
            </li>
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Help</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="">FAQ</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="">Contact us</a>
            </li>
        </ul>
    </div>
    <div class="cs-bottom">
        <span class="cs-copyright">Copyright© 2023. 
            <a class="cs-copyright-link" href="/">Fox Two Digital</a>
            All Right Reserved.
        </span>
        <a href="" class="cs-copyright-link">Terms of Service</a>
        <a href="" class="cs-copyright-link">Privacy Policy</a>
    </div>
    <!--Floating Cirlces-->
    <div class="cs-floater" aria-hidden="true"></div>
                                


<!-- Google tag (gtag.js) -->
<script defer src="https://www.googletagmanager.com/gtag/js?id=G-N8F03QRBFP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N8F03QRBFP');
</script>


</footer>
        