<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-106">
    <div class="cs-container">
        <ul class="cs-ul">
            <li class="cs-li">
                <a href="/" class="cs-link">Home</a>
            </li>
            <li class="cs-li">
                <a href="/about" class="cs-link">About Us</a>
            </li>
            <li class="cs-li">
                <a href="/design" class="cs-link">Web Design</a>
            </li>
            <li class="cs-li">
                <a href="/marketing" class="cs-link">Marketing Solutions</a>
            </li>
            <li class="cs-li">
                <a href="/blog" class="cs-link">Blog</a>
            </li>
            <li class="cs-li">
                <a href="mailto:info@FoxTwoDigital.com" class="cs-link">Info@FoxTwoDigital.com</a>
            </li>
        </ul>
        <div class="cs-bottom">
            <span class="cs-copyright">© 2023 Copyright | Hand Coded by Fox Two Digital</span>
            <a class="cs-social-link" aria-label="visit facebook profile" href="https://www.facebook.com/FoxTwoDigital"="_blank" rel="noopener">
                <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/facebook.svg" alt="facebook" width="6" height="11">
            </a>
            <a class="cs-social-link" aria-label="visit instagram profile" href="https://www.instagram.com/foxtwodigital/"="_blank" rel="noopener">
                <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/instagram.svg" alt="instagram" width="11" height="11">
            </a>
             <a class="cs-social-link" aria-label="visit twitter profile" href="https://twitter.com/foxtwodigital/"="_blank" rel="noopener">
                <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/twitter.svg" alt="instagram" width="11" height="11">
            </a>
        </div>
    </div>
</footer>
        