---
title: 'About'
description: 'About Us'
preloadImg: '/assets/images/wake.webp'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/wake-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/wake.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/wake.jpg" alt="Fox Two Digital Website Design" loading="eager" width="2500" height="1667">
        </picture>

    </section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RPsbs-580">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/headshot-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/headshot.webp">
            <img loading="lazy" decoding="async" src="/assets/images/headshot.jpg" alt="Fox Two Digital Website Design" width="494" height="700">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">What We Do</span>
            <h2 class="cs-title">Website Developer in Knoxville Tennessee</h2>
            <p class="cs-text">
                I was a fighter pilot in the Marine Corps, flying the F/A-18C and D Hornet, then became a flight instructor, teaching fighter fundamentals in the T-45C Goshawk. During my time, I took up HTML and CSS coding to help my parent's small business become more competitive in their local market. I saw that my parents did not possess the technical expertise to create a website themselves and were too busy working to spend the time to learn how. 
            </p>
            <p class="cs-text">
               I also knew that WordPress and similar drag and drop website building programs were bloated, which slowed performance and hurt their search ranking in Google searches. I learned how to optimize the website's speed and performance by building the site for mobile first, then scaling up to larger and more powerful platforms. I’ve taken this approach ever since, creating fast and responsive websites for clients all over the country. 
            </p>
            <a href="/design" class="cs-button-solid">Read More</a>
        </div>
    </div>
</section>
                                
<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RPsbsr-580">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/overhead-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/overhead.webp">
            <img loading="lazy" decoding="async" src="/assets/images/overhead.jpg" alt="Fox Two Digital Website Design" width="494" height="700">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">What We Do</span>
            <h2 class="cs-title">Small Business Marketing </h2>
            <p class="cs-text">
                As a military spouse, I wanted to find work I found fun and fulfilling, but that could also be done remotely, due to all the moves the military families endure (we just completed our seventh move in 10 years!!) I started with marketing working with boutique firms but saw how quickly a small business's budget was eaten up by an entire team of marketers. This might not matter for large companies who have a $10,000+ per month marketing budget but wasn’t realistic for small businesses. 
            </p>
            <p class="cs-text">
                So, I looked at what worked and what didn’t, and how the principles the large firms employed could be tailored to a smaller budget with a different reach. You don’t need national recognition but want to dominate your city, county, or area code search results. When someone searches “[Your business type] near me, you want to come up in the top 3, if not #1 overall. As a mother, I know that some things are worth paying someone else to do or better left to the experts, and I want to be that marketing expert for you!
            </p>
            <a href="/marketing" class="cs-button-solid">Read More</a>
        </div>
    </div>
</section>
                                
               
<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<!-- No headers, so no section tag -->
<div id="stats-316">
    <ul class="cs-card-group">
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="/assets/svgs/place.svg" alt="Fox Two Digital Website Design" width="35" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-number">900%</span>
                <span class="cs-desc">Growth in "Near Me" searches over last 2 years</span>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="/assets/svgs/people.svg" alt="Fox Two Digital Website Design" width="40" height="35" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-number">29%</span>
                <span class="cs-desc">of people search local businesses at least once per week</span>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="/assets/svgs/telephone.svg" alt="Fox Two Digital Website Design" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-number">88%</span>
                <span class="cs-desc">of people who do a local search call the business within one day</span>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="/assets/svgs/dollar.svg" alt="Fox Two Digital Website Design" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-number">$1.4T</span>
                <span class="cs-desc">Mobile device influence on local sales nationwide</span>
            </div>
        </li>
    </ul>
</div>
                                
                                
<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="Aboutsbs-328">
    <div class="cs-container">
        <!-- Left Image Section -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/landing.webp">
            <img loading="lazy" decoding="async" src="/assets/images/landing.jpg" alt="Fox Two Digital Website Design" width="520" height="680" aria-hidden="true">
        </picture>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">How We're Different</span>
            <h2 class="cs-title">It's All Connected</h2>
            <p class="cs-text">
                A website alone will do little to increase the traffic across it. Sure, SEO can help increase the visability to a degree, but by marketing the new website, you can exponentially increase the traffic across it. But what happens to the traffic once its there?
            </p>
             <p class="cs-text">
                But marketing a website that is slow to load, ugly and not creating a customer funnel will also be a waste of time and money. At Fox Two Digital, we will help you to maximize your budget to ensure that you get the most bang for your buck and reach customers in the most efficient manner possible.
            </p>
            <p class="cs-text">
               You don't want traffic coming across your site and leaving, but you also don't need the most ellaborate website ever created just for no one to see it. You need an intelligent blend of local marketing, intelligent web design and someone who will make tweaks along to the way to optimize both.
            </p>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="/blog">Learn More</a>

            <!--SVG Circles-->
            <div class="cs-circles">
                <div class="cs-circle">
                    <!--Wrapped in a div so mobile positioning is easier-->
                    <div class="cs-ring-wrapper">
                        <span class="cs-number">46%</span>
                        <!--Change the --ratio to the decimal percentage of this circle-->
                        <svg class="cs-ring" style="--ratio: 0.46">
                            <circle cx="50%" cy="50%" r="50%"/>
                            <circle cx="50%" cy="50%" r="50%"/>
                        </svg>
                    </div>
                    <span class="cs-desc">of searches are Local Searches</span>
                </div>
                <div class="cs-circle">
                    <div class="cs-ring-wrapper">
                        <span class="cs-number">28%</span>
                        <!--Change the --ratio to the decimal percentage of this circle-->
                        <svg class="cs-ring" style="--ratio: 0.28">
                            <circle cx="50%" cy="50%" r="50%"/>
                            <circle cx="50%" cy="50%" r="50%"/>
                        </svg>
                    </div>
                    <span class="cs-desc">Local Searches Become Purchases</span>
                </div>
                <div class="cs-circle">
                    <div class="cs-ring-wrapper">
                        <span class="cs-number">56%</span>
                        <!--Change the --ratio to the decimal percentage of this circle-->
                        <svg class="cs-ring" style="--ratio: 0.56">
                            <circle cx="50%" cy="50%" r="50%"/>
                            <circle cx="50%" cy="50%" r="50%"/>
                        </svg>
                    </div>
                    <span class="cs-desc">Businesses have no Google Profile</span>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}