---
title: 'Contact'
description: 'Contact Us'
preloadImg: '/assets/images/wake.webp'
permalink: 'contact/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/contact.css">
    <script defer src="/assets/js/FAQ.js"></script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->


    <section id="int-hero">
        <h1 id="home-h">Contact Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/wake.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/wake.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/wake.jpg" alt="Fox Two Digital Website Design" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
<!--                    FAQ                       -->
<!-- ============================================ -->

<section id="faq-1346">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Web Design and Marketing</span>
            <h2 class="cs-title">Frequently Asked Questions</h2>
            <p class="cs-text">
                Answers to common questions regarding our Web Design process or Marketing Solutions
            </p>
        </div>
        <div class="cs-flex-group">
            <div class="cs-button-group">
                <!--If you need to add another button, make sure to copy and paste from one of the buttons here and increment the data-filter value, so the next one would be data-filter="four", and so on-->
                <button class="cs-option" data-filter="one">
                    Local SEO
                </button>
                <button class="cs-option" data-filter="two">
                    Website Design
                </button>
                <button class="cs-option" data-filter="three">
                    Marketing
                </button>
            </div>
            <!--We need this wrapper so the absolutely positioned FAQ lists can be positioned to the top of it to so the animations don't amke it overlap the buttons group above it. We needed a wrapper div around it for the faq lists to be relatively positioned to in order to get the effect we wanted-->
            <div class="cs-wrapper">
                <!--If you add more FAQ's, copy and paste of of the .cs-faq-grop lists and increment the data-category to the next number. We have three right now, if you added a fourth you'd change it to data-category="four" to correspond to the new button you created in the .cs-button-group. The filter and category data attributes need to match so they can work together-->
                <ul class="cs-faq-group" data-category="one">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What is Local SEO?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            SEO stands for "Search Engine Optimization" and means tweaking websites characteristics and other things to prioritize higher rankings in "near me" searches.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What methods do you use?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Active management of your Google My Business Profile, keyword research and adding those keywords in strategic places on your website (such as a blog post) and engagement in social media.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What is there to "actively manage" on my Google Business Profile? Don't you set it up and leave it?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Google wants to see enagement on your profile. This involves updating pictures, responding to reviews, adding updates and events, a FAQ section, keeping business hours updated (including holiday hours), responding to messages and making posts to your profile. All of these show Google you are interacting with customers, and Google wants to send customers to businesses who will interact with them.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How does a blog help my website?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Having a professionally written blog allows you to target keywords that are related to your business, but not appropriate for certain areas of your website. For example, an electrician might want to have a blog post about how different plug types should be used, spaced and wired during a kitchen remodel for best layout and to "future proof" thier kitchen for further updates. This allows the natural tie in of "kitchen remodeling" to thier website, so if someone were to Google "kitchen remodeling near me", now they can get into those results, when they normally wouldn't have.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How does Social Media Engagement help? The people who know about me already follow me on Facebook.
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Your engagement is not for your current customers, its for your future ones. Think about how many people were at a Thanksgiving or Christmas parade in your city this year. By finding and sharing the event page for that parade, you have found something useful to people near you, and your customer base will share it (because its useful) for you, with no ads. This is the step most marketing agencies miss.
                        </p>
                    </li>
                </ul>
                <ul class="cs-faq-group cs-hidden" data-category="two">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                           What is the typical timeframe for creating a website?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        The timeline varies depending on project complexity. As per our standard operating procedure, you will be made aware before the project begins.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                           Do you handle website maintenance and updates?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Yes, ongoing maintenance is part of our offer. Ensuring your website remains secure, up-to-date, and continues to perform optimally.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                           Can you help with website hosting and domain registration?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Absolutely, we can assist in selecting the right hosting and domain options, and we include hosting as part of our stnadard package for added convenience.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                           Will my website be mobile-friendly (responsive)?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Yes, all our websites are designed to be responsive, ensuring a seamless experience across desktops, tablets, and smartphones.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                           What happens if I want to make changes to my website after it's live?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Simply, reach out and notify me of the change you would like to make. This could be updating pictures, re-wording text, etc. Adding pages or expanding the website will require a one-time fee, but any changes on a basic 5 page website are covered forever.
                    </p>
                </li>
                </ul>
                <ul class="cs-faq-group cs-hidden" data-category="three">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Are prices negotiable? 
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Yes, prices reflect what we feel is competitive in price and results. But if you want something specific, we can include that and drop other services to meet your needs.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Does the price include Advertising?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            No, prices relfect our management of your ad campaign, but the actual cost of the ads will be in addition to our fees for management.
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What is a Google Local Service Ad?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Google has a reletively new type of Ad where you pay per qualified phone call. So not a cost per click or impression, but per actual phone call you receive. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Is Advertising required?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Depending on your situation, advertising may or may not be required. Sometimes, advertising will overload a business to the point where they are turning people away. Paying to turn potential customers away is obviously not a way to run a business. So we will work with you to determine if paid Ads are something you should consider. 
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-587">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/sunset.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/sunset.webp">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Contact-Page/room2.jpg" alt="Fox Two Digital Website Design" width="841" height="877">
        </picture>
        <div class="cs-right">
            <div class="cs-content">
                <span class="cs-topper">Contact Us</span>
                <h2 class="cs-title">Take a Shot with Us</h2>
                <p class="cs-text">
                    Please leave a message regarding the services you are interested in, and a member of our team will get back with you!
                </p>
            </div>
            <!--Form-->
            <div class="cs-form" id="cs-form-587">
                    <iframe
  src="https://api.leadconnectorhq.com/widget/form/5JYBuK6KyYbjwuzQ4iGo"
  style="width:100%;height:100%;border:none;border-radius:0px"
  id="inline-5JYBuK6KyYbjwuzQ4iGo" 
  data-layout="{'id':'INLINE'}"
  data-trigger-type="alwaysShow"
  data-trigger-value=""
  data-activation-type="alwaysActivated"
  data-activation-value=""
  data-deactivation-type="neverDeactivate"
  data-deactivation-value=""
  data-form-name="Website Form "
  data-height="543"
  data-layout-iframe-id="inline-5JYBuK6KyYbjwuzQ4iGo"
  data-form-id="5JYBuK6KyYbjwuzQ4iGo"
  title="Website Form "
      >
</iframe>
<script src="https://link.msgsndr.com/js/form_embed.js"></script>
            </div>
        </div>
    </div>
</section>                    

{% endblock %}