---
title: 'Design'
description: 'Mobile First Web Design'
preloadImg: '/assets/images/wake.webp'
permalink: 'design/'
eleventyNavigation:
    key: Design
    order: 600
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/design.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

   
    <section id="int-hero">
        <h1 id="home-h">Web Design</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/wake.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/wake.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/wake.jpg" alt="Fox Two Digital Website Design" loading="eager" width="2500" height="1667">
        </picture>

    </section>


<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<section id="content-page-852">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Knoxville Web Design - <span class="cs-color">Built for Performance</span></h1>
            <h2>Google Favors Mobile Performance</h2>
            <p>
                Experience web design that prioritizes mobile devices. Our process begins with mobile compatibility, followed by adaptations for tablets and desktops, guaranteeing a seamless user experience on all platforms.
            </p>
            <p>
                By building the website with a mobile first mindset, we ensure the highest performance and page speed scores (by ensuring we are inline with Googles 'Core Vitals'), which help us to rank higher in Google's search algorithm. If you are curious about your current website, <a href="https://pagespeed.web.dev/">try it here</a>. A website made by me will routinely score in the 95+ for speed, and often be 99 or 100%!!
            </p>
            <p>
               Recent studies found that of all the people surveyed, half said they’d be willing to give up animation and video for faster load times. Furthermore, the highest conversion rates occur on pages with load times between 0-2 seconds. So, speed matters, sometimes even more than cute animations and a flashy video.
            </p>
            <p>
                By compressing images, combined with intelligent use of script and lazy loading techniques, our websites will be optimized to load on a 4G network mobile device, which makes Google happy and gets you infront of more customers. Overtime, a faster website will help you to rank higher in the local search results. 
            </P>
            <h3>What Makes Our Website Faster Than Others</h3>
            <ul>
                <li>By hand-coding, I don't have to rely on javascript to do things for me. Extra javascript slows pages down.</li>
                <li>Intelligent image hosting, cropping and formatting. Focusing on page loading speed.</li>
                <li>Not having bloated, extra code that creeps into wordpress or other template style web designs.</li>
                <li>Ensuring the pages are ensitrely responsive. Not just formatted for a desk top and iphone, but any screen size in between.</li>
            </ul>
           
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/tanker-m.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/tanker.webp">
                <img decoding="async" src="/assets/images/tanker.jpg" alt="Fox Two Digital Website Design" width="542" height="520" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                    Steps                     -->
<!-- ============================================ -->

<section id="steps-1376">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Process</span>
            <h2 class="cs-title">We’re Committed to Maintain Standard Work Process</h2>
        </div>
        <!--
            We had to use a div here because of the grouping we had to do to make the staggerd design work. We needed to create two groups, one with 3 cards and one with 2 cards so we can arrange the cards separately to create the design we need to create. 
        -->
        <div class="cs-card-group">
            <div class="cs-group1">
                <div class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async"
                            src="/assets/svgs/loupe.svg" alt="Fox Two Digital Website Design"
                            width="48" height="48" />
                    </picture>
                    <h3 class="cs-h3">Discovery</h3>
                    <p class="cs-item-text">
                        We define your goals and requirements, laying the groundwork for your unique website.
                    </p>
                </div>
                <div class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async"
                            src="/assets/svgs/target.svg" alt="Fox Two Digital Website Design" width="32"
                            height="32" />
                    </picture>
                    <h3 class="cs-h3">Strategy</h3>
                    <p class="cs-item-text">
                        We develop a comprehensive strategy to fine-tune your website's speed, and overall performance.
                    </p>
                </div>
                <div class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async"
                            src="/assets/svgs/document.svg" alt="Fox Two Digital Website Design" width="32"
                            height="32" />
                    </picture>
                    <h3 class="cs-h3">Design</h3>
                    <p class="cs-item-text">
                        Crafting a visual concept and website structure that aligns with your brand and objectives
                    </p>
                </div>
            </div>
            <div class="cs-group2">
                <div class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async"
                            src="/assets/svgs/coding.svg" alt="Fox Two Digital Website Design" width="32"
                            height="32" />
                    </picture>
                    <h3 class="cs-h3">Development</h3>
                    <p class="cs-item-text">
                        Transforming designs into a fully functional website, employing custom coding for optimum performance.
                    </p>
                </div>
                <div class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async"
                            src="/assets/svgs/testing.svg" alt="Fox Two Digital Website Design" width="32"
                            height="32" />
                    </picture>
                    <h3 class="cs-h3">Test & Launch</h3>
                    <p class="cs-item-text">
                        We launch your website and continue to provide ongoing support for your digital success.
                    </p>
                </div>
            </div>
            <picture class="cs-waves">
                <!--Mobile Image-->
                <source media="(max-width: 1023px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/wave-tablet.svg">
                <!--Tablet and above Image-->
                <source media="(min-width: 1024px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/wave-desktop.svg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/wave-desktop.svg" alt="Fox Two Digital Website Design" width="1280" height="568">
            </picture>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-578">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/marketing-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/marketing.webp">
            <img loading="lazy" decoding="async" src="/assets/images/marketing.jpg" alt="Fox Two Digital Website Design" width="494" height="700">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Our Cheapest Option</span>
            <h2 class="cs-title">Website In A Day</h2>
            <p class="cs-text">
                If a hand-coded website is out of your price range right now, we can use a templated website builder, such as Wix, WordPress or other builder, to make you a website in around 24 hours.  Sometimes simple is the best option. The drag and drop website won't rank as high due to speed issues, but a hand-coded website can take 30+ hours of coding and over 10,000 lines of code. 
            </p>
            <p class="cs-text">
                We can make a logo, pick a color pallate and create a basic website for you in less than 24 hours. Then, over the next week, we can get more information to fill out pertinent information for your services. We can even get you a domain name and set that up for you, so you can go from nothing to online in less than a day. 
            </p>
             <p class="cs-text">
                This option is designed for those business who don't currently have an online presence at all. This can get you set up the quickest, so that you can have crediblity the fastest.  
            </p>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-243">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Pricing Plans</span>
            <h2 class="cs-title">Flexible Pricing Plans for Your Tailored Needs</h2>
            <p class="cs-text">
                A pricing plan curated for your business. Choose flexibility, choose value, choose us for your web design and development project.
            </p>
            <div class="cs-toggle-group">
                <span id="cs-option1-243" class="cs-plan">Monthly</span>
                <div class="cs-toggle">
                    <span class="cs-toggle-switch"></span>
                </div>
                <span id="cs-option2-243" class="cs-plan">One-Time</span>
            </div>
        </div>
        <ul class="cs-card-group">
            <!-- Option 1 -->
            <li class="cs-item">
                <h3 class="cs-h3">Website in a Day</h3>
                <p class="cs-item-text">
                    Basic, templated website to get you started fast
                </p>
                <div class="cs-option-group">
                    <span class="cs-price cs-option1-text">$100/mo</span>
                    <span class="cs-price cs-option2-text">$2000</span>
                </div>
                <a href="/contact" class="cs-button-solid">Start Today</a>
                <span class="cs-included">What's included?</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-li-img" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="Fox Two Digital Website Design" width="20" height="20">
                        Basic Logo Creation 
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img"loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="Fox Two Digital Website Design" width="20" height="20">
                        Quickest Turnaroud
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="Fox Two Digital Website Design" width="20" height="20">
                        All Fees Included
                    </li>
                </ul>
            </li>
            <!-- Option 2 -->
            <li class="cs-item cs-popular">
                <h3 class="cs-h3">Custom Website</h3>
                <p class="cs-item-text">
                    Custom Hand-Coded 5 Page Website
                </p>
                <div class="cs-option-group">
                    <span class="cs-price cs-option1-text">$225/mo</span>
                    <span class="cs-price cs-option2-text">$4750</span>
                </div>
                <a href="/contact" class="cs-button-solid">Start Today</a>
                <span class="cs-included">What's included?</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-li-img" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="Fox Two Digital Website Design" width="20" height="20">
                        Unlimited Edits
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="Fox Two Digital Website Design" width="20" height="20">
                        24/7 Customer Service
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="Fox Two Digital Website Design" width="20" height="20">
                        Blog Framework Included
                    </li>
                </ul>
            </li>
            <!-- Option 3 -->
            <li class="cs-item">
                <h3 class="cs-h3">Large Website</h3>
                <p class="cs-item-text">
                    Large, custom coded websites available.
                </p>
                <div class="cs-option-group">
                    <span class="cs-price cs-option1-text">$550/mo</span>
                    <span class="cs-price cs-option2-text">$9500+</span>
                </div>
                <a href="/contact" class="cs-button-solid">Start Today</a>
                <span class="cs-included">What's included?</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-li-img" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="Fox Two Digital Website Design" width="20" height="20">
                        Any Number of Pages
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="Fox Two Digital Website Design" width="20" height="20">
                        Location Specific Service Pages
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="Fox Two Digital Website Design" width="20" height="20">
                        Best Long-term Ranking for Keywords
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>
                                              


    {% include 'components/cta.html' %}

{% endblock %}