---
title: 'FAQ'
description: 'Frequently Asked Questions'
preloadImg: '/assets/images/wake.webp'
permalink: 'FAQ/'
eleventyNavigation:
    key: FAQ
    order: 700
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/FAQ.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->


    <section id="int-hero">
        <h1 id="home-h">FAQ</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/wake.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/wake.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/wake.jpg" alt="Fox Two Digital Small Business Experts" loading="eager" width="2500" height="1667">
        </picture>

    </section>

<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-853">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/burner-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/burner.webp">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg" alt="Fox Two Digital Small Business Experts" width="630" height="775" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h2 class="cs-title">Frequently Asked Questions</h2>
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How important is a new website to a small business?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        A website is a digital business card, often times it’s the only business card a customer sees. It can be a reflection of the professionalism that you bring to the table. Furthermore, what’s under the hood of the website is just as important as how it looks. A website with slow load speeds will hinder your ranking in Google and be a drag on your marketing efforts. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                             What is the most effective digital marketing strategy for small businesses?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        For most small businesses, a combination of content marketing, SEO, social media engagement and online advertising tends to yield the best results. Including social media engagement in your local community, not just with your followers but sharing or commenting on local events can boost your exposure in your local area. As a small business, your goal is to engage the customers that are within a reasonable driving distance to you. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Why should I worry about marketing my small business anyway?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Short answer, because your competitors do, and if they don’t, a new one will soon. You have loyal customers who won’t be swayed one way or another, but the new people moving to your area or people passing through won’t even know you exist without an intelligent marketing campaign. You don’t need to create national awareness, but you want to come up when people Google “[your business type] near me”. These searches are up 900% in the last 2 years, so coming up on google map results in your local area are critical. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What steps do you recommend for small businesses?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Depending on budget and goals, we generally recommend setting up a Google Business Profile, redesigning the website to maximize performance in the search engine and ensuring that all social media platforms and profiles have accurate information. Then we generally recommend setting up an email engagement campaign, drip campaign and engaging on social media. Following that we generally recommend paid ads and then lastly a blog. These are all levels that can be tackled in series, but they build on each other and are complementary to each other. 
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What is the process to work with Fox Two Digital?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        We will schedule a conference to go over your business goals, both short and long-term. Are we trying to drive more foot traffic to your store or more traffic across the site? Are you wanting to increase the number of customers you have now, or sometime in the future? Are you trying to solidify your branding, advertise a new location or simply grow your customer base? These are all different issues that require different solutions. We don’t use a cookie-cutter answer, but take the time to understand the actual goals before we create a plan of action to bring your goals into reality. 
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
                                

    {% include 'components/cta.html' %}

{% endblock %}