---
title: 'Lead Generation'
description: 'Transform your lead generation with Fox Two Digital: We specialize in qualifying and nurturing leads to ensure you connect with clients ready to engage. From managing targeted ads on Facebook, Google, and Google Local Service Ads to refining leads through our unique nurturing process, we streamline your marketing funnel. Let us fill your calendar with booked appointments, so you can focus on delivering your services, not on gathering leads. Experience the ease of warm leads turning into valuable clients with Fox Two Digital.'
preloadImg: '/assets/images/wake.webp'
permalink: 'leads/'
eleventyNavigation:
    key: Leads
    order: 6000
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/leads.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->


    <section id="int-hero">
        <h1 id="home-h">Lead Generation</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/wake.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/wake.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/wake.jpg" alt="Fox Two Digital Lead Generation" loading="eager" width="2500" height="1667">
        </picture>

    </section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1331">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">We Qualify Leads</span>
                <h2 class="cs-title">Get Appointments - Not Cold Call Lists</h2>
            </div>
            <p class="cs-text">
                Leads only matter if they turn into clients. Our process guides raw leads through a nurturing process so that you only interact once they are confirmed to be warm, or ready to book an appointment. 
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-step">Pull Leads</span>
                    <h3 class="cs-h3">Getting Leads into the Funnel</h3>
                    <p class="cs-item-text">
                        First, we pull leads in like any other company. We help manage Facebook Ads, Google Ads or Google Local Servie Ads. These ads get you infront of people interested in your services.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-step">Nurture Process</span>
                    <h3 class="cs-h3">Qualify Leads For You</h3>
                    <p class="cs-item-text">
                        Our process takes the raw leads and further qualifies them through a nurturing process before they are passed to you. This keeps you from wasting time with people who aren't really interested in your service. 
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-step">Booked Appointment</span>
                    <h3 class="cs-h3">Your Calendar Get Filled</h3>
                    <p class="cs-item-text">
                        If you use our calendar service, we will guide warm leads through the funnel until they book an appointment. For you, this means you just deal with completing appointments and leave the whole leads gathering process to us. 
                    </p>
                </a>
            </li>
        </ul>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)"
                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building-white.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)"
                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building-white.jpg">
        <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building-white.jpg" alt="Fox Two Digital Lead Generation"
                width="1920" height="700" decoding="async" loading="lazy">
    </picture>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1358">
    <div class="cs-container">
        <picture class="cs-picture cs-picture1">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/computer1.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/computer1.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/computer1.jpg" alt="Fox Two Digital Lead Generation" width="305" height="339">
        </picture>
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h2 class="cs-title">Put Lead Generation on Auto-Pilot</h2>
            <h3 class="cs-h3">
                Fox Two Digital - Managing Your Advertising Campaigns  
            </h3>
            <p class="cs-text">
                Allow us to run your Ads campaigns, manage the leads and deliver you customers ready to book your services. This allows you to put more attention into delivering excellent service, because you'll have more than enough appointments to keep your business profitable. 
            </p>
            <a href="/contact" class="cs-button-solid">Take a Shot With Us</a>
        </div>
        <picture class="cs-picture cs-picture2">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/computer2.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/computer2.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/computer2.jpg" alt="Fox Two Digital Lead Generation" width="305" height="339">
        </picture>
    </div>
    <div class="cs-bubbles cs-bubbles1" aria-hidden="true"></div>
    <div class="cs-bubbles cs-bubbles2" aria-hidden="true"></div>
</section>
                                
{% include 'components/cta.html' %}                                

{% endblock %}