---
title: 'Marketing'
description: 'Small Business Marketing Solutions'
preloadImg: '/assets/images/wake.webp'
permalink: 'marketing/'
eleventyNavigation:
    key: Marketing
    order: 700
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/marketing.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->


    <section id="int-hero">
        <h1 id="home-h">Marketing Solutions</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/wake.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/wake.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/wake.jpg" alt="wake island" loading="eager" width="2500" height="1667">
        </picture>

    </section>

<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-1209">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Small Business Services</span>
            <h2 class="cs-title">Streamline Your Digital Marketing with Fox Two Digital </h2>
            <p class="cs-text">Whether you're in need of search engine optimization (SEO), pay-per-click advertising (PPC), social media marketing, email marketing, or a customized blend of these services, we possess the expertise to attract more potential clients to your website. Explore our digital marketing strategies today.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-number">01</span>
                <h3 class="cs-h3">Data Analytics</h3>
                <p class="cs-item-text">
                    Data drives our strategies. We use data and industry analytics to optimize your social media platforms, ensuring that your posts are timely and relevant, while engaging your target audience.
                </p>
            </li>
            <li class="cs-item">
                <span class="cs-number">02</span>
                <h3 class="cs-h3">Digital Advertising</h3>
                <p class="cs-item-text">
                    Expand your reach with digital ads on platforms like Instagram, Facebook, and Google. Our customized ads are designed to perform well on each platform, attracting new customers and retaining existing ones.
                </p>
            </li>
            <li class="cs-item">
                <span class="cs-number">03</span>
                <h3 class="cs-h3">Social Media Coaching</h3>
                <p class="cs-item-text">
                    We evaluate your current social media marketing efforts, analyze campaign data, and develop a plan for ongoing success across your desired channels. We can also help curate content
                </p>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->


<section id="content-page-714">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Small Businesses Should Approach Digital Marketing<span class="cs-color"> Differently</span></h1>
            <h2>Get the Most out of your budget.</h2>
            <h3>Unlocking SEO Potential</h3>
            <p>
                Search Engine Optimization (SEO) is the cornerstone of online visibility. Our team excels at optimizing your website to secure top rankings on search engines. SEO involves multifaceted strategies like keyword research and optimization, blog content creation, SEO audits, backlink generation, rank tracking, and more. Let us handle the technicalities while you focus on your business. We make SEO comprehensible and effective for you.
            </p>
            <h3>Google Business Profile Management</h3>
             <p>
              Many small businesses could be best served by setting up a Google Business PRofile, actively managing it and using it to bolster thier crediblity within Google's search algorithm. Let us handle the technical details for you!
            </p>
            <h3>Harnessing Social Media</h3>
            <p>
                In today's digital landscape, social media is a powerful tool for connecting with your audience. At Fox Two Digital, we harness the immense potential of social media marketing. Platforms like Facebook, Twitter, Instagram, and more are leveraged to foster relationships with existing clients and reach new prospects in your locality. Social media marketing offers benefits such as improved customer service, brand awareness, advertising opportunities, and a canvas for creativity.
           </p>
            <h3>Targeted Ad Campaigns and Local Service Ads</h3>
            <p>
                Creating an effective ad campaign is a chore. Are you reaching your customers? Are your ads even targeting the people you identify as potential customers? Or are you just spending money on Google Ads hoping for a few lucky strikes? Let us take out all the guess work, so you can focus on landing the clients that respond to the ads!
           </p>
            <h3>Email Marketing Mastery</h3>
             <p>
               Email marketing remains an invaluable strategy to reach a global audience. Our email marketing campaigns are tailored to connect with consumers and businesses already familiar with your brand. We know that unsolicited messages can harm your reputation, so we ensure that your email blasts are well-targeted and resonate with your audience.
            </p>
             <h3>Bolstering Your Brand Identity</h3>
             <p>
              Crafting a brand identity that authentically represents your business goes beyond designing logos. At Fox Two Digital, we go the extra mile to delve into your company's core values, goals, and personality. A robust brand identity encapsulates your business's vision, and we are here to facilitate that process. Through our branding and marketing strategy, we'll ensure that your brand is cohesive and resonates with your audience.
            </p>
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/unit-m.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/unit.webp">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson7.jpg" alt="person" width="570" height="680" aria-hidden="true">
            </picture>

            <!--Flower Graphic-->
            <img class="cs-flower" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fbig-abstract-flower.svg" alt="flower graphic" width="362" height="350" aria-hidden="true">

            <!--Spidey Sense Graphic-->
            <img class="cs-sense" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fspider-sense.svg" alt="spidey sense graphic" width="80" height="89" aria-hidden="true">
        </div>
    </div>
    <!--Waves Graphic-->
    <picture class="cs-background">
        <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Flarge-waves.svg" alt="waves" decoding="async" aria-hidden="true" width="625" height="952">
    </picture>
</section>
                                
                                

    {% include 'components/cta.html' %}


{% endblock %}