---
title: 'Marketing'
description: 'Small Business Marketing Solutions'
preloadImg: '/assets/images/wake.webp'
permalink: 'marketing/'
eleventyNavigation:
    key: Marketing
    order: 700
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/marketing.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->


    <section id="int-hero">
        <h1 id="home-h">Lead Generation</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/wake.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/wake.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/wake.jpg" alt="Fox Two Digital Marketing Solutions Agency" loading="eager" width="2500" height="1667">
        </picture>

    </section>

<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-1209">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Small Business Services</span>
            <h2 class="cs-title">Marketing Through Message Campaigns</h2>
            <p class="cs-text">Your warmest leads are the people who have been customers before. Running a targeted campaign to re-active your current database of past customers can be the most economical marketing you do. 
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-number">01</span>
                <h3 class="cs-h3">Database Re-Activation</h3>
                <p class="cs-item-text">
                    Give us a list of past customers and a deal you think they'd be interested in. We do the rest.
                </p>
            </li>
            <li class="cs-item">
                <span class="cs-number">02</span>
                <h3 class="cs-h3">Multi-Touch Contact</h3>
                <p class="cs-item-text">
                    Our process reaches out across multiple domains, multiple times, to ensure your message is received and acted upon.
                </p>
            </li>
            <li class="cs-item">
                <span class="cs-number">03</span>
                <h3 class="cs-h3">Active Management</h3>
                <p class="cs-item-text">
                    Have someone reply to the very first message? We remove them from the campaign, while others are contacted again.
                </p>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->


<section id="content-page-714">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Message Marketing Done<span class="cs-color"> Differently</span></h1>
            <h2>Fox Two Digital - Message Marketing Process</h2>
            <h3>Client Uploads</h3>
            <p>
                We take your list of past customers and a promotion from you. Nothing else required from you, which allows you to focus on providing actual services to the ones who reply.  
            </p>
            <h3>Active Management</h3>
             <p>
              We manage your data-base, stopping the messages from going out to past customers who have replied, while we continue to message customers who have no responded. 
            </p>
            <h3>Re-Usable Framework</h3>
            <p>
                Want to run a 4th of July sale, we can manage the client messages. Want to run a similar sale for Labor Day? We keep the frame-work in place, so we can re-run messaging campaigns as often as you want.
           </p>
            <h3>End Goal Tracking</h3>
            <p>
                We don't just keep track of how many responded to your messages, we track all the way down to who has booked your services. Thats ultimately the number you care about, who ended up a repeat customer.
           </p>
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/unit-m.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/unit.webp">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson7.jpg" alt="Fox Two Digital Marketing Solutions Agency" width="570" height="680" aria-hidden="true">
            </picture>

            <!--Flower Graphic-->
            <img class="cs-flower" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fbig-abstract-flower.svg" alt="Fox Two Digital Marketing Solutions Agency" width="362" height="350" aria-hidden="true">

            <!--Spidey Sense Graphic-->
            <img class="cs-sense" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fspider-sense.svg" alt="Fox Two Digital Marketing Solutions Agency" width="80" height="89" aria-hidden="true">
        </div>
    </div>
    <!--Waves Graphic-->
    <picture class="cs-background">
        <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Flarge-waves.svg" alt="Fox Two Digital Reputation Management Google Reviews" decoding="async" aria-hidden="true" width="625" height="952">
    </picture>
</section>
                                
                                

    {% include 'components/cta.html' %}


{% endblock %}