---
title: 'Reputation Management'
description: 'Description for <meta> and OG tags'
preloadImg: '/assets/images/wake.webp'
permalink: 'Reputation/'
eleventyNavigation:
    key: Reputation
    order: 700
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/reputation.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->


    <section id="int-hero">
        <h1 id="home-h">Lead Generation</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/wake.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/wake.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/wake.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

<!-- ============================================ -->
<!--                  Why Choose                  -->
<!-- ============================================ -->

<section id="why-choose-359">
    <div class="cs-container">
        <!--Left Section-->
        <div class="cs-content">
            <span class="cs-topper">Rep Management Process</span>
            <h2 class="cs-title">Manage Your Online Reputation</h2>
            <p class="cs-text">
                Managing your reputation can make or break your closing rates. Getting more total reviews, especially high ranking reviews, improves your crediblity with your potential custoemr base. 
            </p>
            <!--Image of cleaners-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/analysis.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/analysis.webp">
                <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/analysis.jpg" alt="cleaners" width="275" height="132">
            </picture>
        </div>
        <!--Cards-->
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-icon-wrapper">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/person-blue.svg" alt="icon" width="48" height="48">
                    <!--Create a span to make more bubbles with pesudo elements-->
                    <span class="cs-bubble" aria-hidden="true"></span>
                </div>
                <div class="cs-flex">
                    <h3 class="cs-h3">Google Reviews</h3>
                    <p class="cs-item-text">
                        Cultivating a high Google review count can boost your credibly online.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-icon-wrapper">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/hand-blue.svg" alt="icon" width="48" height="48">
                    <!--Create a span to make more bubbles with pesudo elements-->
                    <span class="cs-bubble" aria-hidden="true"></span>
                </div>
                <div class="cs-flex">
                    <h3 class="cs-h3">Automated Processes</h3>
                    <p class="cs-item-text">
                        We make the process super easy for your customers. It takes more than a single request, and we manage that for you.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-icon-wrapper">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/stars-thumbs.svg" alt="icon" width="48" height="48">
                    <!--Create a span to make more bubbles with pesudo elements-->
                    <span class="cs-bubble" aria-hidden="true"></span>
                </div>
                <div class="cs-flex">
                    <h3 class="cs-h3">Prioiritize Higher Reviews</h3>
                    <p class="cs-item-text">
                        We can't block bad reviews, but we can put processes in place to have a higher percentage of reviews be 4 or 5 stars.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1363">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people10.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people10.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people10.jpg" alt="people" width="605868" height="690">
            </picture>
            <div class="cs-box">
                <img class="cs-box-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/gear-white.svg" alt="people" width="60" height="60">
                <span class="cs-desc">
                    Catapault Your Business
                </span>
            </div>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Why choose us</span>
            <h2 class="cs-title">Fox Two Digital Reputation Management</h2>
            <p class="cs-text">
                You don't want to spend your time following up with past clients for the third or fourth time, asking for reviews and trying to keep track of who has responded already. Let us put the process on auto-pilot for you, so you can focus on providing great service while we manage getting you the reviews you've already earned.
            </p>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trophy.svg" alt="icon" width="32" height="32">
                        We Get Results
                    </h3>
                    <p class="cs-item-text">
                        We manage the enitre procress, not just sending out one request for a review.
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/circle-check.svg" alt="icon" width="32" height="32">
                        You Get Credibility
                    </h3>
                    <p class="cs-item-text">
                       Reviews can be one of the biggest factors that deter potential customers from ever contacting you in the first place. 
                    </p>
                </li>
            </ul>
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark" width="24" height="24">
                    We manage the entire process
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark" width="24" height="24">
                    Steady in-flow of reviews
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark" width="24" height="24">
                    Get reviews on alternate platforms if needed - Yelp, Facebook, etc.
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark" width="24" height="24">
                    Better-time management for you not chasing review requests
                </li>
            </ul>
            <a href="/contact" class="cs-button-solid">Start Today</a>
        </div>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>
                                
                                
   
   

   {% include 'components/cta.html' %}     
{% endblock %}