---
title: 'Fox Two Digital'
description: 'Digital Web Design for Speed'
preloadImg: '/assets/images/jet.webp'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/local.css" />
    <link rel="stylesheet" href="/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-81">
    <div class="cs-container">
        <h1 class="cs-title">Web Design and Marketing Solutions for Small Businesses</h1>
        <p class="cs-text">
            We specialize in helping small businesses get more customers through a systematic marketing campaign and hand-coded websites. 
        </p>
        <a href="/contact" class="cs-button-solid">Fox Two!</a>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/inverted-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/inverted.webp">
        <img loading="lazy" decoding="async" src="/assets/images/inverted.jpg" alt="inverted jet" width="1200" height="1200" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="h-services-81">
    <ul class="cs-card-group">
        <li class="cs-item">
            <picture class="cs-icon">
                <img loading="lazy" decoding="async" src="/assets/svgs/world-wide-web.svg" alt="appliance" width="52" height="52" aria-hidden="true">
            </picture>
            <h2 class="cs-title">WEBSITE DESIGN</h2>
            <p class="cs-text">
                Handed coded websites for maximum performance, optimized for mobile and fully reactive.
            </p>
        </li>
        <li class="cs-item">
            <picture class="cs-icon">
                <img loading="lazy" decoding="async" src="/assets/svgs/digital-marketing.svg" alt="appliance" width="52" height="52" aria-hidden="true">
            </picture>
            <h2 class="cs-title">MARKETING SOLUTIONS</h2>
            <p class="cs-text">
                We specialize in getting helping small businesses manage their local online presence.
            </p>
        </li>
        <li class="cs-item">
            <picture class="cs-icon">
                <img loading="lazy" decoding="async" src="/assets/svgs/document.svg" alt="appliance" width="52" height="52" aria-hidden="true">
            </picture>
            <h2 class="cs-title">SYSTEMATIC APPROACH</h2>
            <p class="cs-text">
               We keep track of the statistics for what is working and what isn't, maximizing your budget.
            </p>
        </li>
    </ul>
</section>
                                

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/laptopcode-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/laptopcode.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/laptopcode.jpg" alt="laptop" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/japan-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/japan.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/japan.jpg" alt="Mt.Fuji" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">WEB DESIGN & DEVELOPMENT DONE DIFFERENTLY</span>
                <h2 class="cs-title">Web Design Matters</h2>
                <p class="cs-text">
                    What makes us unique in the development world is that we don't use WordPress, frameworks, or page builders. We meticulously write the code line by line. This gives us much more control over the design, and the website performs lightning-fast because there's no bloated or messy code that slows it down.
                </p>
                <p class="cs-text">
                    Websites built by hand will outperform most WordPress sites and drag-and-drop page builders which could cost thousands of dollars. When it comes to the web, the faster and more organized websites win. 60% of all internet traffic is on mobile devices, so we optimize your mobile to perform their best in search engines.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        The first to make a decisive decision usually has the advantage, since being first is almost always best. Being first means everyone else is focused on orienting themselves to align with you, which allows you to drive the narrative the customer hears. Let us help you reach the customer before your competition. 
                    </p>
                    <span class="cs-name">Thomas</span>
                    <span class="cs-job">Founder, Callsign "FIFA"</span>
                    <img 
                    class="cs-quote-icon"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                    alt="gavel"
                    width="136"
                    height="77" />
                </div>
                <a href="/about" class="cs-button-solid">More About Us</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--            Extra Content To Rank             -->
    <!-- ============================================ -->

    <section id="sbs-r">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/laptop2-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/laptop2.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/laptop2.jpg" alt="computer" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/jet-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/jet.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/jet.jpg" alt="fighter jet" loading="lazy" width="400" height="560">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">SMALL BUSINESS MARKETING FOCUSED</span>
                <h2 class="cs-title">Marketing Solutions for You</h2>
                <p class="cs-text">
                    You are too busy running the day-to-day operation of your business, you don't have time to manage the full-time job of marketing it also. Let us handle the day-to-day marketing while you work through your increased client count.
                </p>
                <p class="cs-text">
                   We can manage your Google Business profile, run Google Ads, and Facebook Ads, optimize your social media presence, and ensure that your online presence is as professional as your in-store experience. 
                </p>
                <a href="/blog" class="cs-button-solid">Read our Blog</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="cs-container">
            <span class="cs-topper">Our Reviews</span>
            <h2 class="cs-title">Don't Take Our Word For It</h2>
            <p class="cs-text">
                See what our customers have had to say about working with us.
            </p>
            <ul class="cs-card-group">
                <!-- Review 1 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="/assets/images/jamespic.png"
                    alt="profile picture"
                    width="80"
                    height="80" />
                    <p class="cs-item-p">
                       Breaking into a new location was harder than expected. I knew my staff and facilities were top notch and were one of the only in my area to use recurring X-rays to show clients the improvements that were being made. The problem was my target audience wasn’t getting the message. Fox Two Digital helped me re-vamp my website and run an ad campaign that increased our traffic by 75% in six months. 
                    </p>
                    <span class="cs-reviewer">
                        Sean Pham
                        <span class="cs-desc">Chiropractor</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16" />
                </li>
                <!-- Review 2 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="/assets/images/seanpic.png"
                    alt="profile picture"
                    width="80"
                    height="80" />
                    <p class="cs-item-p">
                        When I opened my own dentistry, I assumed people would Google "dentist near me" and I'd get the business. After a year of trying to handle it myself, I found Fox Two Digital, who fixed my website and social media profiles to ensure I got the business from customers within driving distance of me.
                    </p>
                    <span class="cs-reviewer">
                        James Rusaw
                        <span class="cs-desc">Dentist</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16" />
                </li>
            </ul>
            <a aria-label="read more reviews" href="/reviews" class="cs-button-solid">Our Reviews</a>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}